body{
    background: linear-gradient(to right, aquamarine, #6060ee);
    font-family: "Roboto Light";
    font-size: large;
    font-size: 25px;
}

header{
    /*border: 3px solid blue;*/
    text-align: left;
    height: 40px;
}

#img1{
    width: 80px;
    display: inline;
    margin-right: 20px;
}

.btn{
    display: inline-block;
    background: #70afe8;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

/*.header{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*}*/

.links{
    display: inline;
    text-align: left;
    margin-left: 55%;
    float: right;
}

.grid {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*background-color: #83abce;*/
}

.div1 {
    margin: 15px;
    /*!*border: 1px solid black;*!*/
    /*background-color: #70aeea;*/

}

.photo {
    height: auto;
    padding: 15px;
    margin-bottom: 0;
}

.opisanie {
    text-align: center;
    height: 50px;
    /*display: flex;*/
}

.container1 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.item{
    width: 45%;
}

.item:nth-child(1) {
    width: calc(50% - 24px);
}

.item:nth-child(2) {
    width: calc(50% - 24px);
}

.item:nth-child(3) {
    width: calc(50% - 24px);
}

.item:nth-child(4) {
    width: calc(50% - 24px);
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about_me{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

.about_courses{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.fio{
    text-align: center;
    font-size: 25px;
}

#img{
    border-radius: 50%;
}

@media (max-width: 420px){
    .grid {
        grid-template-columns: 1fr;
    }

    .main{
        grid-template-columns:1fr;
    }

    .container1{
        grid-template-columns: 1fr;
    }
}



@media (min-width: 420px) and (max-width: 900px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .main{
        grid-template-columns:1fr;
    }

    .container1{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .main{
        grid-template-columns:1fr 1fr 1fr;
    }

    .container1{
        grid-template-columns: 1fr 1fr;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
}
.topmenu {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}
.topmenu > li {
    display: inline;
    position: relative;
}
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 80px;
    margin-left: 10px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
    /*transition: .4s ease-in-out;*/
}
.down:after {

    font-family: FontAwesome;
}
.topmenu li a:hover {color: #E6855F;}
.submenu {
    background: white;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: auto;
    transform-origin: 0% 0%;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
.submenu li a {
    color: white;
    font-size: 13px;
    line-height: 36px;
    /*padding: 0;*/
    border-radius: 25px;
    background-color: #1919b0;
    width: 150px;
    text-align: center;
}
ul, li, nav{
    display: inline;
    margin-left: auto;
}

li{
    width: 150px;
}

.auth{
    text-align: end;
}


element.style {
}
.submenu li a {
    color: white;
    font-size: 13px;
    line-height: 36px;
    /* padding: 0; */
    border-radius: 25px;
    background-color: #1919b0;
    width: 150px;
    text-align: center;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    width: 150px;
}

* { box-sizing: border-box; }
body {
    margin: 0;
    background: radial-gradient(#BFD6E2 1px, rgba(255,255,255,0) 2px);
    background-size: 10px 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
.topmenu {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}
.down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
}
.topmenu li a:hover { color: #E6855F; }
.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    //transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    //transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', serif;
}